<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/about.css" type="text/css">
    <link rel="stylesheet" href="/css/nar.css" type="text/css">
    <title>Didasko</title>
</head>
<body>


<%- include("./nar"); %>

    <header class="header">
        <h1>Didasko C.A.</h1>
        <p>Aprende, Crea e Inspira</p>
    </header>

    <!--Seccion de la Rese;a Historica-->
    <section class="section mision">
        <h2 class="section-title">Reseña Historica</h2>
        <div class="mision-content">
            <div class="div-img image3"> </div>
            <div class="mision-text">
                <p>La creación de Didasko C.A. surgió de la identificación de una 
                    oportunidad significativa, tras 
                    la creciente demanda y la necesidad de mejorar
                    la calidad, y accesibilidad de la teleeducación.
                </p> <br>
                <p> El 14 de abril de 2025, 
                    cuando se presentó la idea inicial de formar una empresa enfocada
                     en mejorar la teleeducación. Este primer acercamiento evidenció 
                     una visión compartida sobre la creciente importancia y el 
                     potencial aún inexplorado del aprendizaje a distancia.
                </p><br>
                <p>
                    Pocos días después, el 18 de abril de 2025, se formalizó una 
                    propuesta que contenía la información básica de la empresa. 
                    Este documento inicial delineó los pilares fundamentales 
                    de Didasko, incluyendo sus objetivos preliminares.
                </p><br>
                <p>Finalmente, el 20 de abril de 2025, se completó y presentó 
                    la propuesta detallada de Didasko C.A. marcando el inicio 
                    formal de la planificación para su constitución y operación.
                </p>
            </div>
        </div>
    </section>

    <!--Seccion de los trabajadores-->
    <h2 class="section-title struct">Estructura Organizacional</h2>
    <div class="container-founder">

        <!--   card 1 -->
        <div class="card-body">
            <div class="line-color">           </div>
            <div class="card-text">
              <p class="tag">Director General</p>
              <h2>Emil Oropeza</h2>
              <p class="text">Es la persona con la máxima responsabilidad, 
                encargada de la visión estratégica, la toma de decisiones importantes 
                y la supervisión general de la empresa.</p>
            </div>
        </div>

        <!--   card 2 -->
          <div class="card-body">
            <div class="line-color">            </div>
            <div class="card-text">
              <p class="tag">Vicepresidente</p>
              <h2>Franny Luis</h2>
              <p class="text">Desempeña un rol de liderazgo de alto nivel 
                que abarca una visión más amplia y
                asume responsabilidades de liderazgo ejecutivo 
                para garantizar la continuidad operativa y el 
                logro de los objetivos organizacionales</p>
            </div>
        </div>

         <!--   card 3 -->
          <div class="card-body">
            <div class="line-color">            </div>
            <div class="card-text">
              <p class="tag">Director de Finanzas</p>
              <h2>José da Conceicao </h2>
              <p class="text">Es el responsable principal de la planificación,
                 organización, dirección y control de todas 
                 las actividades financieras de la empresa.</p>
            </div>
        </div>

        <!--   card 4 -->
        <div class="card-body">
            <div class="line-color">            </div>
            <div class="card-text">
              <p class="tag">Director de Operaciones</p>
              <h2>Brando Morales</h2>
              <p class="text">Es responsable de planificar, dirigir y 
                optimizar todos los procesos productivos y logísticos de 
                la empresa para garantizar la eficiencia, la calidad y la 
                rentabilidad de las operaciones.</p>
            </div>
        </div>

        <!--   card 5 -->
        <div class="card-body">
            <div class="line-color">            </div>
            <div class="card-text">
              <p class="tag">Director de Desarrollo Tecnológico</p>
              <h2>Edgardo Sierra</h2>
              <p class="text">Lidera la planificación, diseño, desarrollo 
                e implementación de las soluciones tecnológicas 
                de la empresa, asegurando su innovación, 
                funcionalidad y escalabilidad.</p>
            </div>
        </div>

        <!--   card 6 -->
        <div class="card-body">
            <div class="line-color">            </div>
            <div class="card-text">
              <p class="tag">Director de Marketing</p>
              <h2>Frenedy Nieves</h2>
              <p class="text">Es responsable de la planificación, 
                desarrollo y ejecución de las estrategias de 
                marketing de la empresa para alcanzar los objetivos 
                de ventas, crecimiento y posicionamiento de marca.</p>
            </div>
        </div>

    </div>
    
<%- include("./footer"); %>
</body>
</html>