  <!-- Sesion de Contacto-->
    <section class="section contact">
        <h2 class="section-title">Contacto</h2>
        <div class="valores-grid">
            <a class="valores-card" href="https://www.instagram.com/didasko_2 .0?utm_source=qr" title="Instagram">
                <div class="valores-icon icon"><img src="../image/instagram.png" alt="Instagram" ></div>
                <h3>Instagram</h3>
            </a>
    
            <a class="valores-card" href="https://www.tiktok.com/@didasko_2.0?_t=ZM-8wHCQoxpAVr&_r=1" title="TikTok">
                <div class="valores-icon icon"><img src="../image/tiktok.png" alt="TikTok"></div>
                <h3>Tiktok</h3>
            </a>
            
            <a class="valores-card" href="https://wa.me/qr/ELIQOR3QF65GA1 " titlle="Whatsapp">
                <div class="valores-icon icon"><img src="../image/whatsapp.jpg" alt="Whatsapp"></div>
                <h3>Whatsapp</h3>
            </a>
        </div>
    </section>

    <!-- Footer -->
    <footer class="footer">
        <p>&copy; 2025 Didasko C.A.  Todos los derechos reservados.</p>
    </footer>
    