<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css" type="text/css">
    <link rel="stylesheet" href="/css/nar.css" type="text/css">
    <title>Didasko</title>
</head>
<body>

<%- include("./nar"); %>

    <header class="header">

        <h1>Didasko C.A.</h1>
        <p> Disdasko es una empresa privada venezolana 
            con una visión clara y un compromiso firme: 
            transformar  y  elevar la  calidad  de  la tele educación.</p>
    </header>
    
    <!-- Sesion de Mision -->
    <section class="section mision">
        <h2 class="section-title">Misión</h2>
        <div class="mision-content">
            <div class="div-img image1"></div>
            <div class="mision-text">
                <p>Desarrollar e implementar soluciones integrales y personalizadas de teleeducación, 
                    combinando plataformas tecnológicas intuitivas, contenidos educativos multimedia 
                    de alta calidad y estrategias pedagógicas innovadoras, con el objetivo de mejorar 
                    la experiencia de aprendizaje en línea para estudiantes, educadores e instituciones.</p>
            </div>
        </div>
    </section>

    <!-- Seccion de Valores -->
    <section class="section valores">
        <h2 class="section-title">Valores</h2>
        <div class="valores-grid">
            <div class="valores-card">
                <div class="valores-icon"><img src="../image/icons8-accesibilidad-50 (1).png" alt=""></div>
                <h3>Accesibilidad</h3>
                <p>Creemos en democratizar la educación, por lo que nos 
                    esforzamos por crear soluciones inclusivas y adaptadas 
                    a diversas necesidades y contextos.</p>
            </div>
            <div class="valores-card">
                <div class="valores-icon"><img src="../image/icons8-innovación-50 (1).png" alt=""></div>
                <h3>Innovación</h3>
                <p>Priorizamos la adopción de nuevas tecnologías, 
                    ideas y metodologías para mejorar la tele educación.</p>
            </div>
            <div class="valores-card">
                <div class="valores-icon"><img src="../image/icons8-garantía-50 (2).png" alt=""></div>
                <h3>Calidad</h3>
                <p>Nos comprometemos con la excelencia en el diseño, 
                    desarrollo e implementación de todos nuestros 
                    productos y servicios, asegurando altos estándares 
                    pedagógicos y técnicos.</p>
            </div>
            <div class="valores-card">
                <div class="valores-icon"><img src="../image/icons8-ethical-64 (1).png" alt=""></div>
                <h3>Ética y Responsabilidad</h3>
                <p>Actuamos con integridad, transparencia y 
                    respeto en todas nuestras operaciones,
                     asumiendo la responsabilidad de nuestro 
                     impacto en la sociedad y el medio ambiente.</p>
            </div>
            <div class="valores-card">
                <div class="valores-icon"><img src="../image/icons8-compromiso-50 (1).png" alt=""></div>
                <h3>Compromiso</h3>
                <p>Estamos dedicados a entender y satisfacer 
                    las necesidades de nuestros usuarios, 
                    brindando un soporte continuo y buscando 
                    su éxito en el entorno de la teleeducación.</p>
            </div>
            <div class="valores-card">
                <div class="valores-icon"><img src="../image/icons8-libro-y-lápiz-50 (1).png" alt=""></div>
                <h3>Aprendizaje Continuo</h3>
                <p>Promovemos una cultura de mejora constante, 
                    tanto a nivel interno como en las soluciones que 
                    ofrecemos, adaptándonos a la evolución del 
                    conocimiento y la tecnología.</p>
            </div>
        </div>
    </section>
    
    <!-- Seccion de Vision -->
    <section class="section mision">
        <h2 class="section-title">Visión</h2>
        <div class="mision-content">
            <div class="mision-text">
                <p>La visión de Didasko C.A. es ser la empresa líder y referente 
                    en la transformación de la teleeducación en Venezuela, 
                    impulsando un ecosistema de aprendizaje digital innovador, 
                    accesible y de alta calidad que empodere a individuos e instituciones 
                    a alcanzar su máximo potencial a través de soluciones tecnológicas y 
                    pedagógicas de vanguardia, contribuyendo así a la construcción de una 
                    sociedad más educada, equitativa y próspera.</p>
            </div>
            <div class="div-img image2"></div>
        </div>
    </section>
    
    <!-- Sesion de Objetivos -->
    <section class="section">
        <h2 class="section-title">Objetivos</h2>

        <div class="objetivos-list">
            <div class="objetivo-item">
                <div class="objetivo-icon">✓</div>
                <div>
                    <h3>Liderar la innovación en soluciones de teleeducación</h3>
                    <p>Crear entornos en línea que fomenten la interacción, 
                        la colaboración y el seguimiento del progreso educativo.</p>
                </div>
            </div>
            <div class="objetivo-item">
                <div class="objetivo-icon">✓</div>
                <div>
                    <h3>Mejorar la calidad y efectividad de la teleeducación</h3>
                    <p>Ofrecer recursos y estrategias que garanticen un 
                        aprendizaje significativo y resultados positivos 
                        para estudiantes y educadores.</p>
                </div>
            </div>
            <div class="objetivo-item">
                <div class="objetivo-icon">✓</div>
                <div>
                    <h3>Ampliar el acceso a la educación de calidad</h3>
                    <p>Facilitar oportunidades de aprendizaje flexibles y 
                        adaptadas a diversas necesidades y contextos geográficos.</p>
                </div>
            </div>
        </div>
    </section>
    
      
<%- include("./footer"); %>
  
</body>
</html>