    <nav class="narbar">
        <div class="nav">
            <div class="logo"></div>
            <div class="menu">
            <a href="/">Inicio</a>
            <a href="/productos">Productos</a>
            <a href="/acerca_de_didasko">Acerca de Disdasko</a>
            </div>
        </div>
    </nav>