<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/products.css">
    <title>Document</title>
</head>
<body>
    
    
<%- include("./nar"); %>

    <header class="header">

        <h1>Didasko C.A.</h1>
        <p class="p-slogan">Aprende, Crea e Inspira</p>
    </header>

       <!-- Seccion de Cursos -->
    <section class="section">
        <h2 class="section-title">Cursos</h2>
        <div class="mision-content">
            <div class="mision-text">
                <div class="valores-grid">
                    
                    <div class="valores-card">
                        <div class="valores-icon"><img src="../image/ALGEBRA.png" alt=""></div>
                        <h3>Álgebra</h3>
                        <p>La base del pensamiento matemático. Aprende a manipular 
                            símbolos y resolver ecuaciones, desarrollando habilidades 
                            esenciales para todas las ciencias y la ingeniería.
                        </p>
                        <h3>Contenido:</h3> 
                        <p>Expresiones algebraicas, ecuaciones lineales y cuadráticas, 
                            sistemas de ecuaciones,desigualdades, funciones, polinomios.</p>
                    </div>

                    <div class="valores-card">
                        <div class="valores-icon"><img src="../image/CALCULO.png" alt=""></div>
                        <h3>Cálculo</h3>
                        <p>La matemática del cambio y el movimiento. Descubre las 
                            herramientas para analizar funciones, calcular áreas, volúmenes y 
                            tasas de variación, con aplicaciones en física, ingeniería y economía.
                        </p>
                        <h3>Contenido:</h3> 
                        <p>Límites, derivadas (reglas, aplicaciones), integrales 
                            (fundamentales, técnicas, aplicaciones), sucesiones y series.
                        </p>
                    </div>

                    <div class="valores-card">
                        <div class="valores-icon"><img src="../image/TRIGONOMETRIA.png" alt=""></div>
                        <h3>Trigonometría</h3>
                        <p>El estudio de las relaciones entre los ángulos y 
                            los lados de los triángulos. Fundamental para la 
                            navegación, la física, la ingeniería y la computación gráfica.
                        </p>
                        <h3>Contenido:</h3>
                        <p>
                            Razones trigonométricas, identidades trigonométricas, 
                            resolución de triángulos, funciones trigonométricas, 
                            leyes del seno y del coseno, aplicaciones.
                        </p>
                    </div>

                    <div class="valores-card">
                        <div class="valores-icon"><img src="../image/FISICA.png" alt=""></div>
                        <h3>Física</h3>
                        <p>Explora las leyes fundamentales que gobiernan el 
                            universo, desde el movimiento de los objetos hasta 
                            la energía y las fuerzas que los interactúan. 
                            Imprescindible para comprender el mundo que nos rodea y la tecnología.
                        </p>
                            <h3>Contenido:</h3> 
                        <p> 
                            Mecanica (cinemática, dinámica, trabajo y energía).
                        </p>
                    </div>

                    <div class="valores-card">
                        <div class="valores-icon"><img src="../image/ALGORITMO.png" alt=""></div>
                        <h3>Algoritmo</h3>
                        <p>Aprende a diseñar secuencias lógicas de 
                            pasos para resolver problemas. La base de 
                            la programación y el pensamiento computacional, 
                            esencial en la era digital.
                        </p>
                        <h3>Contenido:</h3>
                        <p> Introducción a la algoritmia, 
                            estructuras de control (secuenciales, condicionales, 
                            repetitivas), tipos de datos, estructuras de datos básicas 
                            (arreglos, listas), diseño y análisis de algoritmos.
                        </p>
                    </div>

                    <div class="valores-card">
                        <div class="valores-icon"><img src="../image/BASE_DE_DATOS.png" alt=""></div>
                        <h3>Base de Datos</h3>
                        <p>
                            Domina la organización y gestión eficiente de la información. 
                            Aprende a diseñar, construir y consultar bases de datos, una 
                            habilidad crucial para cualquier aplicación moderna.
                        </p>
                        <h3>Contenido:</h3>
                        <p> 
                            Modelos de datos (relacional, no relacional), diseño de bases 
                            de datos, lenguaje SQL (consultas, manipulación), administración 
                            de bases de datos, conceptos de normalización.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

  <%- include("./footer"); %>
</body>
</html>